<h1> Projects </h1>
<h2>Name: <%= @project.name %></h2>
<li>Material: <%= @project.material %></li>
<li>Challenge Theme: <%= @challenge %></li>
<li>Number of Contestants: <%= @project.contestant_count %></li>
<li>Average Contestant Experience: <%= @project.avg_contestant_exp %> years</li>